body {
    font-family: system-ui;
    background: black;
    color: white;
    text-align: center;
}
input {
    padding: 10px 20px;
    margin: 10px 0;
}
span.required {
    color: red;
    font-size: 20px;
}
#button {
    background: #173b54;
    border: none;
    color: white;
    box-shadow: 0px 0px 6px 1px #bdc1c3fa;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    position: relative;
    animation: pulse 3s infinite ease-out;
}
a {
    color: #06aee4;
}

@keyframes pulse {
    from {
        box-shadow: 0px 0px 6px 0px #bdc1c3fa;
    }
    to {
        box-shadow: 0px 0px 6px 5px #bdc1c3fa;
    }
}
